<ion-view name="menuContent" title="Cooking Coversions">

  <ion-nav-buttons side="left" class="">
    <div class="bar bar-header bar-assertive">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class="title">Cooking Conversions</div>
    </div>
  </ion-nav-buttons>

    <ion-content class="has-header">

        <form id="conversionform">
            <fieldset>
                <legend class="ion-waterdrop convert_title"> Liquid Conversion</legend>
                <input type="text" placeholder=" 2 " class="measureinput" ng-model="num"/>

                <select name="liquidmeasure" ng-model="unitone" ng-select="">
                    <option name="gallons" value="gallons">gallons</option>
                    <option name="quarts" value="quarts">quarts</option>
                    <option name="pints" value="pints">pints</option>
                    <option name="cups" value="cups">cups</option>
                    <option name="tablespoons" value="tablespoons">Tablespoons</option>
                    <option name="teaspoons" value="teaspoons">teaspoons</option>
                </select>
                <h6 class="equals">equals</h6>
                <select name="liquidmeasure" ng-model="unittwo" ng-select="">
                    <option name="teaspoons" value="teaspoons">teaspoons</option>
                    <option name="tablespoons" value="tablespoons">Tablespoons</option>
                    <option name="cups" value="cups">cups</option>
                    <option name="pints" value="pints">pints</option>
                    <option name="quarts" value="quarts">quarts</option>
                    <option name="gallons" value="gallons">gallons</option>
                </select>
                <button class="button button-assertive button-small" ng-click="convertme(unitone, unittwo, num)"  >Convert <i class="ion-arrow-right-a"></i></button>
            </fieldset>

            <div id="display_convert" class="" >
              {{num }} {{unitone}} {{number}} {{unittwo}}
            </div>

            <fieldset>
                <legend class="ion-pizza convert_title"> Weight Conversion</legend>
                <input type="text" placeholder="2" class="measureinput" ng-model="numtwo"/>
                <select name="liquidmeasure" ng-model="unitthree">
                    <option name="ounces" value="ounces">ounces</option>
                    <option name="pounds" value="pounds">pounds</option>
                </select>
                  <h6 class="equals">equals</h6>
                <select name="liquidmeasure" ng-model="unitfour">
                    <option name="ounces" value="ounces">ounces</option>
                    <option name="pounds" value="pounds">pounds</option>
                </select>
                <button class="button button-assertive button-small" ng-click="convertit(unitthree, unitfour, numtwo)" ng-model="clickit" >Convert <i class="ion-arrow-right-a"></i></button>
            </fieldset>
            <div id="display_convert" ng-hide="clickit" >
              {{numtwo }} {{unitthree}} {{numbertwo}} {{unitfour}}
            </div>
        </form>

    </ion-content>
</ion-view>
