<ion-view name="menuContent" title="Cooking Terms Dictionary">

    <ion-nav-buttons side="left" class="">
      <div class="bar bar-header bar-calm">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <div class="title">Cooking Terms Dictionary</div>
      </div>
    </ion-nav-buttons>

    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="query" class="ion-search"  placeholder="Search:">
            </label>
        </div>

    <button class="button button-balanced button-full ion-ios7-star" ng-click="toggle(favtoggle)"> Favorites</button>
        <dl id="favlist">
          <dt>{{word}}</dt>
          <dd>{{def}}</dd>
        </dl>
        <!-- <ion-list class="" ng-repeat="term in dictionary | filter:query">
             <ion-item class="ion-ios7-star-outline">{{"  " + term.term}}</ion-item>
             <ion-item class="">{{term.definition}}</ion-item>
         </ion-list>-->

        <dl ng-repeat="term in dictionary | filter:query">
           <div class="fav">
              <li class="item item-checkbox" ng-click="pickFavorite(term)">
                  <label class="checkbox checkbox-balanced"> <input type="checkbox" ></label>
                  <dt ng-model="term.term">{{term.term }}</dt>
                  <dd class="item-text-wrap" ng-model="term.definition">{{ term.definition }}</dd>
               </li>
           </div>
        </dl>


      <!--  <div class="bar bar-footer">jordanlarkin &copy; 2014</div> -->
    </ion-content>
</ion-view>
<!--<i class="ion-ios7-star-outline"> </i>-->
