<ion-view name="menuContent" title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">

       <img id="logo" src="img/smashedPotatoLogo.jpg" alt="A Smashed Potato"/>

       <div class="card">
           <h3 id="dailyword">Word of the Day!</h3>
           <dl>
               <dt>{{message.term}}</dt>
               <dd>{{message.definition}}</dd>
           </dl>
           <p>Want more? Check out our <a href="#">dictionary</a> to increase your cooking IQ!</p>
       </div>


    </ion-content>
</ion-view>

