<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-assertive">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>

        <ion-item nav-clear menu-close ui-sref="app.home">
          <i class="ion-ios7-home"></i> Home
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.converter">
          <i class="ion-flask"></i> Conversion Tools
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.dictionary">
          <i class="ion-android-book"></i> Dictionary
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.counter">
          <i class="ion-android-hand"></i> Count your Scoops
        </ion-item>

        <ion-item nav-clear menu-close ui-sref="app.timer">
          <i class="ion-android-stopwatch"></i> Timer
        </ion-item>
      <!--

        <ion-item nav-clear menu-close ui-sref="app.timer">
         <i class="ion-ios-alarm"></i> Timer
       </ion-item> -->

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
