<ion-view title="Timer">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">


     <!--   {{time}}
        <button ng-click="" class="button button-assertive">Start</button>
        <button ng-click="" class="">Pause</button>
        <button ng-click="" class="">Clear</button>

        <div class="button-bar button button-assertive">
            <a class="button" ng-click="">Start</a>
            <a class="button"ng-click="" >Pause</a>
            <a class="button" ng-click="">Clear</a>
        </div>
        -->


    </ion-content>
</ion-view>