<ion-view name="menuContent" title="Timer" class="">

  <ion-nav-buttons side="left" class="">
    <div class="bar bar-header bar-calm">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class="title">Timer</div>
    </div>

  </ion-nav-buttons>

    <ion-content class="has-header timers padding">
<br>

  <input type="text" ng-model="number_amount" id="time_length" placeholder="30:00" class=""/>

   <select name="timer_unit" id="time_unit">
      <option value="seconds">Seconds</option>
      <option value="minutes">Minutes</option>
      <option value="hours">Hours</option>
  </select>
<br><br><br><br>
			<div class="col-xs-4"><div id="timer"></div></div>
      <span id="display_time">{{timer}}</span>

<br><br><br><br>
<div class="count_buttons">
          <button ng-click="play()" class="button button-calm icon ion-play" id="play" name="play"></button>
          <button ng-click="pause()" class="button button-calm icon ion-pause" id="pause" name="pause"></button>
          <button ng-click="stop()" class="button  button-calm icon ion-stop" id="stop" name="stop"></button>
</div>
<footer><p>jordanlarkin &copy; 2014</p></footer>
    </ion-content>

</ion-view>
